html {
  box-sizing: border-box;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body {
  font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.3;
}
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
section {
  display: block;
}
footer {
  min-height: 550px;
  background-color: rgb(224, 224, 224);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.content-container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 4rem;
}
.image-container a {
  text-decoration: none;
  color: white;
}
.activity {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3 ease;
}
.activity h3 {
  position: absolute;
  top: 35%;
  margin: 0;
  font-size: 1.6rem;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}
.activity:hover {
  transform: scale(1.05);
}
.image-container a:nth-child(1) .activity {
  background-image: url("9.jpg");
}

.image-container a:nth-child(2) .activity {
  background-image: url("10.jpg");
}

.image-container a:nth-child(3) .activity {
  background-image: url("11.jpg");
}

.image-container a:nth-child(4) .activity {
  background-image: url("12.jpg");
}
.content-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.content-header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}
.content-header p {
  margin-bottom: 0;
  letter-spacing: 0.3em;
  font-weight: 700;
  color: #4e66f8;
  text-transform: uppercase;
  text-align: center;
}
.content-header h2 {
  margin-bottom: 0;
  font-size: calc(1.325rem + 0.9vw);
}
.content-scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-content {
  background-color: white;
  border-radius: 10px;
  width: 1000px;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.modal-content img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.modal-content h4 {
  font-size: 30px;
}
.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.info-wrapper span h3 {
  padding: 10px;
  margin: 5px;
}
#modal-footer {
  min-height: 100px;
  min-width: 800px;
  border-radius: 10px;
}
#closeBtn {
  cursor: pointer;
  font-size: 40px;
}
.header-container {
  padding: 20px;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.video-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.banner {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 20px;
  text-align: center;
}
.banner h1 {
  margin: 0;
  font-size: 4rem;
}
